.background_bg_rest{
	background:url('../assets/camera-690163_960_720.jpg') repeat-x center center fixed;
}
#dark_home .u-works.background_bg_black .center_divider {
	background: #f9f9f9;
	color: #383838;
}
